header{
    background-color:rgb(245, 168, 227);
    padding: 20px;
}

#logo{
    border-radius: 10px
}

.titulo-principal{
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-30%, -15%)
    font-size: 35px;
    /*font-family: Barlow;*/
}