header{
    background-color:rgb(245, 168, 227);
    padding: 20px;
}

#logo{
    border-radius: 12px
}

.titulo-principal{
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-30%, -12%);
    font-size: 31px;
    /*font-family: Barlow;*/
}

main{
    width: 940px;
    margin: auto;
}
